.login, .newPost {
    text-align: center;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    margin: auto;
}

#logo {
    width: 55px;
    height: 55px;
}

.newPost {
    text-align: left;
}

.postText {
    height: 100px;

}

form > button {
    background-color: blue;
    color: #ffffff;
}

.gray {
    background-color: #646174;
}
.blue {
    color: #1c9ffc;
}

nav a {
    padding: 10px 15px;
    text-align: center;
    color: #000000;
}

nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
}

header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    border-radius: 5px;
}